/* Google Fonts */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

/* Element Selectors */
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Class Selectors */
.container-fluid {
    padding: 3% 15%;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: lighter;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}

/* ID Selectors */
#title {
    background-color: #ff4c68;
    color: #fff;
}